.bottomLeftCellWrapper {
  grid-area: 5/1/-1/2;
  display: grid;
  grid-template: 1fr / 1fr;
}

.bottomLeftCell {
  grid-area: 1/1/-1/-1;
  width: 70%;
  place-self: center;;
  display: grid;
  grid-template: min-content min-content / auto;
  grid-row-gap: 10px;
  display: grid;
  grid-template: min-content min-content / min-content;
}

.smallBlueSquare {
  grid-area: 1/1/-1/1;
  width: 2.3vh;
  height: 2.3vh;
  background-color: rgb(8, 8, 209);
  align-self: end;
}

.emailGroup {
  display: grid;
  grid-template: auto / min-content min-content;
  grid-column-gap: 10px;
}

.stroke, .brush {
  grid-area: 1/2/-1/-1;
}

.stroke {
  margin-top: 10px;
}