.blueBG {
  width: 100vw;
  height: 100vh;
  background-color: rgb(8, 8, 209);
  grid-area: 1/1/2/-1;
  display: grid;
  grid-template: 35vh 20vh 1fr / 100vw;
}

.squiggly {
  grid-area: 3/1/-1/-1;
  justify-self: center;
  margin-right: 60px;
}

/* PORTRAIT */
@media only screen 
  and (orientation: portrait) {
      .blueBG {
        grid-template: 25vh 20vh 1fr / 100vw;
      }
      .squiggly {
      grid-area: 3/1/-1/-1;
      width: 50%;
      margin-left: 170px;
    }
  }