@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.homeWrapper {
  grid-area: 1/1/2/2;
  /* justify-self: center; */
  align-self: center;
  display: grid;
  grid-template: 30px / 57px 50px 90px;
  grid-column-gap: 25px;
  margin-left: 75px;
}

.greenRectangle {
  width: 90px;
  height: 30px;
  background-color: #da7cba;
  background-color: #f188c6;
  background-color: #e47b9e;
  cursor: pointer;
}

.home {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: rgb(8, 8, 209);
  cursor: pointer;
}

.arrow {
  /* align-self: end; */
  cursor: pointer;
}

/* PORTRAIT */
@media only screen 
  and (orientation: portrait) {
    .homeWrapper {
      margin-top: 12px;
      grid-template: 85px 65px 70px / 25px;
      grid-row-gap: 15px;
      margin-right: 20px;
    }

    .greenRectangle {
      justify-self: center;
      margin-left: 8px;
      width: 20px;
      height: 70px;
    }

    .home {
      justify-self: center;
      font-size: 25px;
    }

    .arrow {
     justify-self: center;
     margin-top: 10px;
     margin-left: 5px;
    }
  }